
<div class="row">
  <div class="col-xs-8">
    <%= devise_error_messages! %>
      <div class="input-group well">
        <fieldset>

          <legend>Sign Up</legend>
          <%= simple_form_for(resource,
           as: resource_name, url: registration_path(resource_name), html: {class: "control-form"}) do |f| %>

              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :profile_name %>
              <%= f.input :email, as: :email %>

              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.input :password, autocomplete: "off" %>
              <%= f.input :password_confirmation, autocomplete: "off" %>
              <%= f.button :submit, "Sign up", class: "btn btn-primary button" %>
          <% end %>
          <%= render "devise/shared/links" %>
        </fieldset>
    </div>
  </div>
</div>
