
<div class="row"><!-- this was added so boostrap can let us add a div next to it -->
  <div class="col-xs-4">
    <%= devise_error_messages! %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
    html:{class: "well"}) do |f| %>
      <div class="input-group">
        <fieldset>
        <legend>Log in</legend>
        <%= f.input :email %>
        <%= f.input :password %>


        <% if devise_mapping.rememberable? -%>
            <%= f.input :remember_me, as: :boolean %>
        <% end %>

          <%= f.button :submit, 'Sign In', class: "btn btn-primary" %><br ><br >
      <% end %>
      <%= render "devise/shared/links" %>
    </fieldset>
    </div>
  </div>
  <div class="col-xs-8">
    <h2> Sign In and Start speaking your mind</h2>
  </div>
</div>
